@model ProjetoASP.Models.Aluno

@{
    ViewBag.Title = "Eliminar Aluno";
}

<h2>EliminaAluno</h2>

<h3>Tem a certeza que pretende apagar</h3>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naluno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naluno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNasc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoEscolaridade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoEscolaridade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgPath)
        </dt>

        <dd>
            <img class="img-thumbnaill img-rounded" src="@Url.Content("~" + Model.ImgPath)"
                 width="400" height="400" />

        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Eliminar Pessoa", "ListarAluno")
        </div>
    }
</div>
